* {
    box-sizing: border-box;
}
@media screen and (min-width:480px){
    .stuff {
        color:aqua;
    }   
}
@media screen and (min-width:768px) {
    .stuff {
        color:pink;
        font-size: 75px;
    }
}
@media screen and (min-width:1024px) {
    .stuff {
        color:lightgreen;
        font-size: 100px;
    }    
}
body {
    background-image: url(/mobile-friendly-practice/anna-wangler-_GqwoiT7QY8-unsplash.jpg);
    background-size: cover;
}
header {
    text-align: center;
    margin-top:100px;
    height: 150px;
    width: auto;
    color:white;
}
.wrapper {
    margin:0;
    color:white;
    line-height: 1.6;
    font-size: 18px;
}
.section1 {
    height: 200px;
    width: 75%;
    margin: auto;
    text-align: left;
}
.section2 {
    height: 200px;
    width: 75%;
    margin: auto;
    text-align: right;
}
